<h1><%= @user.first_name%> <%= @user.last_name %></h1>

<div id="reservations">
  <% @reservations.flatten.each do |reservation| %>
    <%= reservation.brain.title %>
    <% if reservation.status == false %>
      <p>En attente</p>
      <%= button_to "Accepter", accept_reservation_path(id: reservation), method: :patch %>
      <%= button_to "Refuser", decline_reservation_path(id: reservation), method: :patch %>
    <% else %>
      <p>Reservation acceptée</p>
    <% end %>
  <% end %>
</div>
