<%= simple_form_for [@brain, @reservation], { data: { controller: "calculated-cost", calculated_cost_price_value: @brain.price} } do |f| %>
<<<<<<< HEAD
  <div class = "input_reservation">
    <div class = "details_reservation">
      <div class="row">
        <div class="input_date">
          <%= f.input :start_date, as: :date, html5: true, input_html: { value: @reservation.start_date || Date.today,
          data: { calculated_cost_target: "start",
          controller: "flatpickr",
          action: "change->calculated-cost#calculateCost" } } %>
        </div>
        <div class="input_date">
          <%= f.input :end_date, as: :date, html5: true, input_html: { value: @reservation.end_date || Date.today,
          data: { controller: "flatpickr",
          calculated_cost_target: "end",
          action: "change->calculated-cost#calculateCost" } } %>
        </div>
      </div>
    </div>

    <div style="width: 100%; height: 100%; flex-direction: column;     justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
      <%= f.button :submit, "Reserve", class: "btn-pink" %>
      <div style="align-self: stretch; text-align: center; color: #6B7280; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">You won’t be charged yet</div>
    </div>
  </div>
  <div class= "price_details">
    <div class= "row">
        <div class= "text_flex"><%= @brain.price %> € x  <span data-calculated-cost-target="days"></span> days</div>
        <div class= "text_align"><span data-calculated-cost-target="cost">0€</span></div>
    </div>
    <div class= "row">
        <div class= "text_flex">Service fee</div>
        <div class= "text_align">0€</div>
    </div>
    <div class= "divider"></div>

    <div class= "total_cost">
      <div class= "total">Total</div>

      <div class= "total_total"><span data-calculated-cost-target="cost"></span></div>
    </div>
  </div>
<% end %>
