<%# app/views/reservations/show.html.erb %>
<div class="container">
  <h1>Reservation Details</h1>
  <div class="reservation-details">
    <p><strong>Brain Title:</strong> <%= @reservation.brain.title %></p>
    <p><strong>Start Date:</strong> <%= @reservation.start_date.strftime('%B %d, %Y') %></p>
    <p><strong>End Date:</strong> <%= @reservation.end_date.strftime('%B %d, %Y') %></p>
    <p><strong>Cost:</strong> <%= number_to_currency(@reservation.cost) %></p>
    <p><strong>Description:</strong> <%= @reservation.brain.description %></p>
    <p><strong>Specialty:</strong> <%= @reservation.brain.specialty %></p>
    <p><strong>Address:</strong> <%= @reservation.brain.address %></p>
    <p><strong>Status:</strong> <%= @reservation.status ? 'Accepted' : 'Pending' %></p>
    <% if @reservation.brain.wiki_page.present? %>
      <p><strong>Wiki Page:</strong> <%= link_to "View on Wikipedia", @reservation.brain.wiki_page, target: "_blank", rel: "noopener" %></p>
    <% end %>
  </div>
  <%= link_to 'Back to brain', brain_path(@reservation.brain), class: 'btn btn-secondary' %>

</div>
