<div id="header">
  <div class="container" >
    <div class="search">
      <%= form_with url: brains_path, method: :get, class: "d-flex", id: "search-form" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Saisir une spécialité",
          id: "search-input"
        %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>

      <h1>Brains à louer</h1>
  </div>
</div>

<% if params[:query].blank? %>
  <div id="highlights" class="section">
    <div class="container">
      <h2>Top 3 recommandés</h2>
        <div class="cards">
          <% @brains.first(3).each do |brain| %>
            <%= link_to brain_path(brain) do %>
              <div class="grid-cell">
                <%= render "shared/brain_card", brain: brain %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 <% end %>

<div id="all" class="section">
  <div class="container">
    <h2>Tous les Brains</h2>
    <% if @brains.any? %>
      <div class="cards">
        <% @brains.each do |brain| %>
          <%= link_to brain_path(brain) do %>
            <div class="grid-cell">
              <%= render "shared/brain_card", brain: brain %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
       <p class="no-result">Aucun résultat</p>
    <% end %>
  </div>
</div>



<div id="footer">

</div>
